---
layout: default
title: Home
---

<h1 class="page-heading">EIPs
  <a href="https://gitter.im/ethereum/EIPs?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge"><img src="https://badges.gitter.im/Join%20Chat.svg" alt="Gitter"></a>
  <a href="/feed.xml"><img src="https://img.shields.io/badge/rss-All EIPs-green.svg" alt="RSS"></a>
  <a href="/last-call.xml"><img src="https://img.shields.io/badge/rss-Last Calls-red.svg" alt="RSS"></a>
</h1>
<p>Ethereum Improvement Proposals (EIPs) describe standards for the Ethereum platform, including core protocol specifications, client APIs, and contract standards.</p>

<h2>Latest EIPs</h2>

<p>This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</p>

<p>Note: these will effectively all have a status of "Draft", as it shows the latest 10 EIPs by creation date.</p>

<table>
  <tr>
    <th>EIP #</th>
    <th>Title</th>
    <th>Summary</th>
    <th>Author(s)</th>
    <th>Category</th>
    <th>Created Date</th>
  </tr>
{% comment %}_eiplist_ contains all pages in the site, some of which aren't EIPs -- so we check that a status is set. {% endcomment %}
{% assign eiplist = site.pages | sort: 'eip' | reverse %}
{% for eip in eiplist limit: 10 %}
  {% if eip.status %}
  {% assign simple_summary = eip.content | split: "Abstract" %}
  {% assign summary = simple_summary[0] | remove_first: "Simple Summary" | strip_html %}
  <tr>
    <td>{{ eip.eip }}</td>
    <td><a href="{{ site.url }}{{ eip.url }}">{{ eip.title }}</a></td>
    <td>{{ summary }}</td>
    <td>{% include authorlist.html authors=eip.author %}</td>
    <td>{{ eip.category }}</td>
    <td>{{ eip.created | default: now | date: "%Y-%m-%d" }}</td>
  </tr>
  {% endif %}
{% endfor %}
</table>


